.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.logo {
  font-size: 18px;
  letter-spacing: 2px;
}

.menu a {
  text-decoration: none;
  color: black;
  margin-left: 50px;
  margin-right: 30px;
  font-size: 16px;
  letter-spacing: 2px;
}

.menu a:hover {
  color: gray;
}

.container{
    /* border: 2px solid; */
    height: 600px;
    /* width: 1250px; */
}
.child1{
    /* border: 2px solid red; */
    width: 1250px;
    /* height: 280px; */
    margin-bottom: 10px;
    position: relative;
}
.child2{
    /* border: 2px solid red; */
    /* width: 1250px; */
    height: 280px;
    position:relative;
}
.subchild1{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 5px;
    padding-right: 5px;
}

img{
    width: 100%;
}

h3{
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    margin: 0px;
    padding: 10px;
}

.subchild2{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 5px;
    padding-right: 5px;
}
.subchild3{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 5px;
    padding-right: 5px;
    
}
.subchild4{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 2px;
    padding-right: 2px;
    
}
.childsub1{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 5px;
    padding-right: 5px;
}

.childsub2{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 5px;
    padding-right: 5px;
}

.childsub3{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 5px;
    padding-right: 5px;
}

.childsub4{
    display: inline-block;
    /* border: 2px solid green; */
    width:300px;
    height: 280px;
    padding-left: 2px;
    padding-right: 2px;
}

.BR-text{
    color: white;
    position: absolute;
    top: 50%; 
    left: 42%; 
    padding: 10px 20px;
    border-radius: 5px;
    font-size: xx-large;
}

.image-container {
    position: relative;
    /* width: 100%;  */
}

.image-container img {
    /* width: 100%; */
    height: auto;
    display: block;
  }

.container1{
    /* border: 2px solid; */
    width: 1250px;
    /* height: 450px; */
}
.child-1{
    display: inline-block;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 450px; */
    margin-right: 5px;
}

.child-2{
    display: inline-block;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 450px; */
    margin-right: 5px;
}

.child-3{
    display: inline-block;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 450px; */
    margin-right: 5px;
}

.child-4{
    display: inline-block;
    /* border: 2px solid green; */
    width: 300px;
    /* height: 450px; */
}

.form-container {
  width: 95%;
  margin: 30px auto;
  margin-left: 0px;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.footer{
    background-color: black;
    position: relative;
}
.footer h3{
    color: white;
    padding: 20px;
    position: absolute;
    width: 100%;
}